/* This is a CSS file */

ons-dialog p {
    margin-left: 10px;
    margin-right: 10px;
}

.percent {
    position: absolute;
    width: 70%;
    height: 10px;
    z-index: 1;
    text-align: center;
    font-size: 0.6em;
    color: white;
    opacity: 0.7;
}
.progress-bar {
    width: 100%; height: 10px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
    opacity: 0.7;
}
.file-uploaded {
    padding: 0;
    height: 10px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}

.file-thum {
    background-color: #ccc;
    width: 100px;
    height: 100px;
    border-radius: 2px;
    margin-top: 5px;
}
.file-title {
    font-size: 15px;
    max-height: 42px;
    overflow: hidden;
    font-weight: 500;
    line-height: 1.4;
}
.file-desc {    
    font-size: 14px;
    color: #666;
    line-height: 1.3;
    margin: 10px 0 0 0;
    max-height: 37px;
    overflow: hidden;
}
.file-progress {
    margin: 10px 0 0 0;
}
.file-more {
    color: #999;
    font-size: 12px;
    margin-bottom: 3px;
    position: absolute;
    bottom: 0;
}
.file-icon {
    opacity: 0.7;
    padding-right: 7px;
}

.input-focus:focus {
  border-color: #1e9ce6;
  outline: 0;  
}

.true {
    border: 1px solid red;
}

.error {
    color: red;
    opacity: 0.7;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.success {
    color: green;    
    opacity: 0.7;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.icon-spinner {
    float: right;
    margin-top: 6px;
}

.profile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: black;
  border 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

.profile-name {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}

.profile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
  opacity: 0.6;
}

.profile-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.info-col {
  height: 60px;
  line-height: 1;
  padding: 12px 0 12px 4px;
}

.info-num {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}

.info-unit {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.4;
}



.form-row {
    margin: 4px;
    padding-top: 10px;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 48%;
}

.lucent {
  opacity: 0.4;
}

.note {
  margin: 12px 8px;
  font-size: 13px;
}

.vspc {
  margin-top: 20px;
}

.formarea {
  width: 90%;
  margin: 10px auto 0px auto;
}

input[type=text],
input[type=password] {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Login */
.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

input[type=email], input[type=password] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}


