
<ons-navigator title="OnlineMarket" var="nav.history" page="main.html"></ons-navigator>

<ons-template id="main.html">
<ons-page ng-controller="HistoryController">
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars" class="decor-color"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">View History</div>
    </ons-toolbar>
    <div>
        <ons-list>
            <ons-list-item 
                modifier="tappable" class="item" ons-lazy-repeat="items"
                ng-click="onItemSelect(item)">
                <ons-row>
                    <ons-col width="98px">
                        <img ng-src="http://lorempixel.com/60/60/?{{item.rand}}" class="item-thum"></img>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title">{{ item.post }}</span>
                        </header>
                        <div ng-show="item.description==''"><p><span style='opacity: 0.7;'><i class="fa fa-spinner fa-spin fa-pulse"></i> Loading item...</p></span></div>
                        <div class="item-desc">
                            {{ item.description | cut : true : 100 : ' ...' }}
                        </div>
                        <div class="item-more">
                            <ons-icon icon="fa-user" class="item-icon decor-color"></ons-icon> {{ item.user_id }} <span style="color: black;"> | </span> 
                            <ons-icon icon="fa-money" class="item-icon alert-color"></ons-icon> <span class="alert-color">{{ item.price }} $</span>
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
    </ons-list>
</ons-page>
</ons-template>

<ons-template id="detail.html">
    <ons-page id="detail-page" ng-controller="DetailController">
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">More information</div>
            <div class="right">
                <ons-toolbar-button ng-click="app.navi.pushPage('comment.html', { animation : 'lift' });"><ons-icon icon="comment-o" class="decor-color"></ons-icon></ons-toolbar-button>
            </div>
        </ons-toolbar>

        <div class="container slider" style="padding: 0px; margin-top: -10px">
                <!-- enumerate all photos -->
            <img ng-repeat="picture in pictures" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{picture.src}}" />        
                <!-- prev / next controls -->
            <a class="arrow prev" href="#" ng-click="showPrev()"></a>
            <a class="arrow next" href="#" ng-click="showNext()"></a>        
                <!-- extra navigation controls -->
            <ul class="nav">
                <li ng-repeat="picture in pictures" ng-class="{'active':isActive($index)}">
                    <img src="{{picture.src}}" alt="{{picture.desc}}" title="{{picture.desc}}" ng-click="showPhoto($index);" />
                </li>
            </ul>        
        </div>
        
        <ons-list modifier="inset" style="margin-top: 10px;">
            <ons-list-item>
                <div class="detail-title">{{item.post}}</div>
            </ons-list-item>
            <ons-list-item>
                <div class="detail-info">
                    <ons-icon icon="fa" style="line-height: 1.8"> {{item.description}}</ons-icon>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="detail-info">
                    <ons-icon icon="fa-user" class="detail-user"> Seller: {{item.user_id}}</ons-icon>
                    <ons-icon icon="fa-money" class="detail-price"> {{item.price | currency}}</ons-icon>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="detail-info">
                    <ons-icon icon="fa-tag" class="detail-tag"> Appeared in: {{item.tag}}</ons-icon>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="detail-info">
                    <ons-icon icon="fa-map-marker" class="detail-location"> Available at: {{item.location}}</ons-icon>                    
                </div>
            </ons-list-item>
        </ons-list>
                        
        <ons-list style="border-top: none; margin-top: 10px;">
            <ons-list-item style="line-height: 1; padding: 0;">
                <ons-row class="action">
    
                <ons-col class="action-col">
                  <div class="action-icon"><ons-icon icon="star-o"></ons-icon></div>
                  <div class="action-label">Rate</div>
                </ons-col>
    
                <ons-col class="action-col" ng-click="onFavorite()">
                  <div class="action-icon"><ons-icon icon="ion-bookmark"></ons-icon></div>
                  <div class="action-label">Favorite</div>
                </ons-col>
    
                <ons-col class="action-col">
                  <div class="action-icon"><ons-icon icon="ion-share"></ons-icon></div>
                  <div class="action-label">Share</div>
                </ons-col>
    
                <ons-col class="action-col">
                  <div class="action-icon"><ons-icon icon="ion-compose"></ons-icon></div>
                  <div class="action-label">Check In</div>
                </ons-col>
    
              </ons-row>
            </ons-list-item>        
        </ons-list>
    
        <ons-list style="margin-top: 10px;">    
            <ons-list-item 
                modifier="tappable" class="detail_list__item__line-height">
                <div class="prop-desc">
                    <ons-icon icon="fa-mobile"></ons-icon>
                    Make a call: <a href="tel:{{item.phone}}">{{item.phone}}</a>
                </div>
            </ons-list-item>
            <ons-list-item 
                modifier="tappable" class="detail_list__item__line-height">
                <div class="prop-desc">
                    <ons-icon icon="fa-envelope-o"></ons-icon>
                    Contact: <a href="mailto:{{item.email}}?subject=Feedback">{{item.email}}</a>
                </div>
            </ons-list-item>    
            <ons-list-item 
                modifier="chevron" class="detail_list__item__line-height"
                onclick="app.navi.pushPage('picture.html', { animation : 'slide' } )">
                <div class="prop-desc">
                    <ons-icon icon="fa-book"></ons-icon>
                    View more pictures
                </div>
            </ons-list-item>    
            <ons-list-item 
                modifier="chevron" class="detail_list__item__line-height"
                onclick="app.navi.pushPage('comments.html')">
                <div class="prop-desc">
                    <ons-icon icon="fa-comments-o"></ons-icon>
                    View all comments
                </div>
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-template>