
<ons-navigator title="Profile" var="nav.profile" page="profile_main.html"></ons-navigator>

<ons-modal var="modal">
    <i class="fa fa-spinner fa-spin fa-pulse" style="font-size: 28px;"></i>
    <br><br>
    Please wait ...
</ons-modal>

<ons-template id="profile_main.html">
    <ons-page id="profile_main-page" ng-controller="ProfileController">
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars" class="decor-color"></ons-icon></ons-toolbar-button>
            </div>
            <div class="center">Profile</div>
            <div class="right">
                <ons-toolbar-button ng-click="onLogout()"><span class="decor-color">Logout</span></ons-toolbar-button>
            </div>
        </ons-toolbar>        
        <div class="profile-card">
            <img ng-src="{{thumbPath}}{{user.photo}}" 
                ngf-select 
                ng-model="userPhoto" 
                class="profile-image" >
            <div class="profile-name">{{ user.first_name }} {{ user.last_name }}</div>
            <div class="profile-id">{{ user.user_id }}</div>
            <div class="profile-desc">{{ user.info }}</div>
        </div>
        <ons-list>
            <ons-list-item>
              <ons-row>
                <ons-col class="info-col">
                  <div class="info-num">{{ n_posts }}</div>
                  <div class="info-unit">Posts</div>
                </ons-col>
                <ons-col class="info-col">
                  <div class="info-num">{{ n_favorites }}</div>
                  <div class="info-unit">Favorites</div>
                </ons-col>
                <ons-col class="info-col">
                  <div class="info-num">{{ n_following }}</div>
                  <div class="info-unit">Following</div>
                </ons-col>
                <ons-col class="info-col">
                  <div class="info-num">{{ n_followers }}</div>
                  <div class="info-unit">Followers</div>
                </ons-col>
              </ons-row>
            </ons-list-item>
        </ons-list>
        <ons-list modifier="inset" style="margin-top: 10px">
            <ons-list-item modifier="chevron" onclick="nav.profile.pushPage('my_post_new.html', { animation: 'slide' });">
                Add a new post
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="viewMyPost();">
                View my posts
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="viewMyFavorite();">
                View favorite posts
            </ons-list-item>
        </ons-list>
        <ons-list modifier="inset" style="margin-top: 10px">
            <ons-list-item modifier="chevron" ng-click="viewProfile();">
                See details
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="updateProfile();">
                Update profile
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="changePassword();">
                Change password
            </ons-list-item>
        </ons-list>
        <div ng-if="user.role==='admin'">
        <ons-list modifier="inset" style="margin-top: 10px">
            <ons-list-item modifier="chevron" 
                onclick="nav.profile.pushPage('admin.html', { animation: 'slide' });">
                <i class="fa fa-bug fa-sg decor-color"></i> Administrator
            </ons-list-item>
        </ons-list>
        <br>
        </div>
    </ons-page>
</ons-template>

<ons-template id="my_profile.html">
    <ons-page id="my_profile-page" ng-controller="MyProfileController">
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">
                Profile detail
            </div>
        </ons-toolbar>
        <ons-list modifier="inset" style="margin-top: 10px;">    
            <ons-list-item modifier="item" class="list__item__line-height">
                <ons-row>
                    <ons-col width='100px'>
                        Username:
                    </ons-col>
                    <ons-col>
                        <div class="prop-desc">
                        {{user.user_id}}
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="item" class="list__item__line-height">
                <ons-row>
                    <ons-col width='100px'>
                        Name:
                    </ons-col>
                    <ons-col>
                        <div class="prop-desc">
                        {{user.first_name}} {{user.last_name}}
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="item" class="list__item__line-height">
                <ons-row>
                    <ons-col width='100px'>
                        Email:
                    </ons-col>
                    <ons-col>
                        <div class="prop-desc">
                        {{user.email}}
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="item" class="list__item__line-height">
                <ons-row>
                    <ons-col width='100px'>
                        Phone:
                    </ons-col>
                    <ons-col>
                        <div class="prop-desc">
                        {{user.phone | tel }}
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item modifier="item" class="list__item__line-height">
                <ons-row>
                    <ons-col width='100px'>
                        Address:
                    </ons-col>
                    <ons-col>
                        <div class="prop-desc">
                        {{user.location}}
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <div class="prop-desc" style="text-align: center; padding: 20px">
                {{user.info}}
            </div>
            <ons-list-item modifier="item" class="list__item__line-height">
                <ons-button modifier="normal" style="float: left; width: 48.5%; text-align: center;" 
                    ng-click="updateProfile()">
                    Update profile
                </ons-button>
                <ons-button modifier="normal" style="float: right; width: 48.5%; text-align: center;" 
                    ng-click="changePassword()">
                    Change password
                </ons-button>
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-template>

<ons-template id="my_profile_update.html">
    <ons-page id="my_profile_update-page" ng-controller="MyProfileController">
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">
                Profile update
            </div>
        </ons-toolbar>
        <div class="formarea">
            <div class="form-row">
              <input type="text" 
                ng-model="user.user_id" 
                ng-focus="onFocus()" 
                ng-blur="onUserIDBlur()" 
                class="text-input--underbar width-full input-focus {{required.user_id}}" 
                placeholder="Username">
            </div>
            <div class="form-row">
              <input type="text" 
                ng-model="user.first_name" 
                class="text-input--underbar width-half input-focus" 
                placeholder="First name">
              <input type="text" 
                style="float: right" 
                ng-model="user.last_name" 
                class="text-input--underbar width-half input-focus" 
                placeholder="Last name">
            </div>
            <div class="form-row">
              <input type="email" 
                ng-model="user.email" 
                ng-focus="onFocus()" 
                ng-blur="onEmailBlur()" 
                class="text-input--underbar width-full input-focus {{required.email}}" 
                placeholder="Email address">
            </div>
            <div class="form-row">
              <input type="text" 
                style="height: 50px;" 
                ng-model="user.phone" 
                ng-focus="onFocus()" 
                class="text-input--underbar width-full input-focus {{required.phone}}" 
                placeholder="Phone number">
            </div>
            <div class="form-row">
                <select 
                    class="posting-category {{required.location}}" 
                    style="height: 45px;" 
                    ng-model="user.location" 
                    ng-focus="onFocus()" 
                    ng-options="loc.location for loc in locations">
                </select>
            </div>
            <div class="form-row">
                <textarea class="textarea input-focus"
                    ng-model="user.info" 
                    ng-focus="onFocus()" 
                    placeholder="About me" 
                    style="width: 100%; height: 55px; background-color: #FFFFFF; line-height: 22px">
                </textarea>
            </div>
            <div class="form-row">
                <ons-button modifier="normal" style="float: left; width: 48.5%; text-align: center;" 
                    ng-click="nav.profile.popPage()">
                    Cancel
                </ons-button>
                <ons-button modifier="normal" style="float: right; width: 48.5%; text-align: center;" 
                    ng-click="onUpdateProfile()">
                    Update
                </ons-button>
            </div>
        </div>
    </ons-page>
</ons-template>

<ons-template id="my_password.html">
    <ons-page id="my_password-page" ng-controller="MyPasswordController">
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">
                {{ user.first_name }} {{ user.last_name }}
            </div>
        </ons-toolbar>
        <div class="login-form">
            <input type="password" ng-model="password_old" ng-focus="onFocus()" ng-blur="onPasswordBlur()"
                class="text-input--underbar {{ required.password_old }}" 
                placeholder="Old password" style="width: 100%;">
            <input type="password" ng-model="password_new" ng-focus="onFocus()"
                class="text-input--underbar {{ required.password_new }}" 
                placeholder="New password">
            <input type="password" ng-model="password_confirm" ng-focus="onFocus()"
                class="text-input--underbar {{ required.password_confirm }}" 
                placeholder="Confirm password">
            <br><br>
            <ons-button modifier="normal" class="login-button" ng-click="onChangePassword()">
                Change password
            </ons-button>
            <br></br><br>
            <div style="text-align: center;">
                <span style="color: red">{{message}}</span>
            </div>
        </div>
    </ons-page>
</ons-template>

<ons-template id="my_post.html">
    <ons-page id="my_post-page" ng-controller="MyPostController">
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">
                <div ng-if="showMyPost">
                    View all posts
                </div>
                <div ng-if="showMyPost==false">
                    View all favorites
                </div>
            </div>
        </ons-toolbar>
        <ons-list>
            <ons-list-item 
                modifier="tappable" class="item" ng-repeat="item in items"
                ng-click="onItemSelect(item)">
                <ons-row>
                    <ons-col width="98px">
                        <img ng-src="{{thumbPath}}{{item.photo}}" class="item-thum"></img>
                    </ons-col>
                    <ons-col>
                        <div class="item-title">
                            {{ item.post | cut : true : 200 : ' ...' }}
                        </div>
                        <div ng-show="item.desc==''"><p><span style='opacity: 0.7;'><i class="fa fa-spinner fa-spin fa-pulse"></i> Loading item...</p></span></div>
                        <div class="item-desc">
                            {{ item.description | cut : true : 200 : ' ...' }}
                        </div>
                        <div class="item-more">
                            <ons-icon icon="fa-user" class="item-icon decor-color"></ons-icon> {{ item.user_id }} <span style="color: black;"> | </span> 
                            <ons-icon icon="fa-money" class="item-icon alert-color"></ons-icon> <span class="alert-color">{{ item.price | currency}}</span>
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-template>

<ons-template id="my_post_new.html">
    <ons-page ng-controller="PostingController">
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">New post</div>
        <div class="right">
            <ons-toolbar-button ng-click="onPostSubmit()"><span class="decor-color">Post</span></ons-toolbar-button>
        </div>
        </ons-toolbar>
        <div style="text-align: center; padding: 10px">
            <section>
                <textarea class="textarea {{required.title}}"
                    ng-model="post.title" 
                    ng-focus="onFocus()" 
                    placeholder="Post about" 
                    style="width: 100%; height: 80px; background-color: #FFFFFF;"></textarea>
            </section>
            <section style="padding-top: 10px;">
                <textarea class="textarea false" 
                    ng-model="post.description" 
                    ng-focus="onFocus()" 
                    placeholder="Post description" 
                    style="width: 100%; height: 100px; background-color: #FFFFFF;"></textarea>
            </section>
            <section style="padding-top: 10px;">
                <input type="number" 
                    class="text-input {{required.price}}" 
                    ng-model="post.price" 
                    ng-focus="onFocus()" 
                    placeholder="How much?" 
                    style="display: block; float: left; width: 65%; height: 45px; background-color: #FFFFFF;">
                <input type="text" 
                    ng-disabled="true"
                    class="text-input" 
                    value="{{post.price | currency}}" 
                    style="display: block; float: right; width: 33%; height: 45px; text-align: center; color: red">
            </section>
            <br />
            <br />
            <section style="padding-top: 20px;">
                <input type="text" 
                    class="text-input {{required.phone}}" 
                    ng-model="post.phone" 
                    ng-focus="onFocus()" 
                    placeholder="Phone number" 
                    style="display: block; width: 100%; height: 45px; background-color: #FFFFFF;">
            </section>
            <section style="padding-top: 15px;">
                <input type="email" 
                    class="text-input {{required.email}}" 
                    ng-model="post.email" 
                    ng-focus="onFocus()" 
                    placeholder="Email address" 
                    style="display: block; width: 100%; height: 45px; background-color: #FFFFFF;">
            </section>
            <section style="padding-top: 15px;">
                <select class="posting-category {{required.tag}}" 
                    style="height: 45px; width: 65%; float: left;"
                    ng-model="post.tag" 
                    ng-focus="onFocus()" 
                    ng-options="tag.tag for tag in tags">
                </select>
                <ons-button 
                    modifier="normal" 
                    style="float: right; width: 33%; text-align: center;" 
                    ngf-select ngf-multiple="true" ng-model="files">
                    <ons-icon icon="photo"></ons-icon> Photos
                </ons-button>
            </section>
            <br/>
            <br/>
            <br/>
            <ons-list ng-show="files.length>0">
                <ons-list-item 
                    class="item" ng-repeat="file in files">
                    <ons-row>
                        <ons-col width="115px">
                            <img ngf-src="file" class="file-thum"></img>
                        </ons-col>
                        <ons-col>
                            <div class="file-title">
                                {{file.name}}
                            </div>
                            <div class="file-desc">
                                <ons-icon icon="fa-hdd-o" class="file-icon decor-color"></ons-icon>
                                <span ng-switch="file.size > 1024*1024">
                                    <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                                    <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                                </span>
                            </div>
                            <div class="file-more">
                                <span style="color: red;" ng-click="onDeletePhoto($index)">
                                    <ons-icon icon="fa-trash-o"></ons-icon>
                                    <ons-button modifier="quiet">Delete</ons-button>
                                </span>
                            </div>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
            </ons-list>
        </div>
    </ons-page>
</ons-template>

<ons-template id="my_post_detail.html">
    <ons-page id="my_post_detail-page" ng-controller="MyPostDetailController">
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">More information</div>
            <div class="right" ng-show="isUpdating">
                <ons-toolbar-button ng-click="onUpdateDone()"><span class="decor-color">Save</span></ons-toolbar-button>
            </div>
        </ons-toolbar>
        <div style="text-align: center; padding: 10px" ng-show="isUpdating">
            <section>
                <textarea class="textarea {{required.post}}"
                    ng-model="item.post" 
                    ng-focus="onFocus()" 
                    placeholder="Type title here" 
                    style="width: 100%; height: 80px; background-color: #FFFFFF;"></textarea>
            </section>
            <section style="padding-top: 10px;">
                <textarea class="textarea false"
                    ng-model="item.description" 
                    ng-focus="onFocus()" 
                    placeholder="Type description here" 
                    style="width: 100%; height: 100px; background-color: #FFFFFF;"></textarea>
            </section>
            <section style="padding-top: 10px;">
                <input type="number" 
                    class="text-input {{required.price}}"
                    ng-model="item.price" 
                    ng-focus="onFocus()" 
                    placeholder="Type price here" 
                    style="display: block; float: left; width: 60%; height: 45px; background-color: #FFFFFF;">
                <input type="text" 
                    ng-disabled="true"
                    class="text-input" 
                    value="{{item.price | currency}}" 
                    style="display: block; float: right; width: 38%; height: 45px; text-align: center; color: red">
            </section>
            <br />
            <br />
            <section style="padding-top: 20px;">
                <input type="text" 
                    class="text-input {{required.phone}}" 
                    ng-model="item.phone" 
                    ng-focus="onFocus()" 
                    placeholder="Phone number" 
                    style="display: block; width: 100%%; height: 45px; background-color: #FFFFFF;">
            </section>
            <section style="padding-top: 15px;">
                <input type="email" 
                    class="text-input {{required.email}}" 
                    ng-model="item.email" 
                    ng-focus="onFocus()" 
                    placeholder="Email address" 
                    style="display: block; width: 100%%; height: 45px; background-color: #FFFFFF;">
            </section>
<!--             <section style="padding-top: 15px;">
                <select class="posting-category {{required.tag}}" style="height: 45px; width: 65%; float: left;"
                    ng-model="item.tag" 
                    ng-focus="onFocus()" 
                    ng-options="category.tag for category in tags">
                </select>
                <ons-button 
                    modifier="normal" 
                    style="float: right; width: 33%;" 
                    ng-click="onUpdateDone()">
                    <ons-icon icon="fa-save"></ons-icon> Save
                </ons-button>
            </section>
            <br/>
            <br/> -->
        </div>
        <ons-list modifier="inset" style="margin-top: 10px;">
            <ons-list-item>
                <div class="detail-title">{{item.post}}</div>
            </ons-list-item>
            <ons-list-item>
                <div class="detail-info">
                    <ons-icon icon="fa" style="line-height: 1.8"><p style="white-space: pre-line;">{{item.description}}</p></ons-icon>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="detail-info">
                    <ons-icon icon="fa-user" class="detail-user"> Seller: {{item.user_id}}</ons-icon>
                    <ons-icon icon="fa-money" class="detail-price"> {{item.price | currency}}</ons-icon>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="detail-info">
                    <ons-icon icon="fa-tag" class="detail-tag"> 
                        Appeared in: {{item.tag}}
                    </ons-icon>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="detail-info">
                    <ons-icon icon="fa-map-marker" class="detail-location"> 
                        Available in: {{item.location}}
                    </ons-icon>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="detail-info">
                    <ons-icon icon="fa-calendar" class="detail-location"> 
                        Available since: {{ item.date | date : 'MMM-dd-yyyy' }}
                    </ons-icon>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="detail-info">
                    <ons-icon icon="fa-phone" class="detail-location"> 
                        Phone number: <a href="tel:{{item.phone}}">{{item.phone | tel}}</a>
                    </ons-icon>
                </div>
            </ons-list-item>
            <ons-list-item>
                <div class="detail-info">
                    <ons-icon icon="fa-envelope-square" class="detail-location"> 
                        Email: <a href="mailto:{{item.email}}?subject=Post">{{item.email}}</a>
                    </ons-icon>
                </div>
            </ons-list-item>
            <div ng-if="showMyPost">
            <ons-list-item 
                modifier="chevron" class="detail_list__item__line-height"
                onclick="nav.profile.pushPage('my_post_photo_view.html', { animation : 'slide' } )">
                <div class="detail-info">
                    <ons-icon icon="fa-book" class="detail-location"> View more photos</ons-icon>
                </div>
            </ons-list-item>
            </div>
        </ons-list>
        <ons-list style="border-top: none; margin-top: 10px;" ng-show="showMyPost">
            <ons-list-item style="line-height: 1; padding: 0;">
                <ons-row class="action">    
                <ons-col class="action-col" ng-click="onAddPhoto()">
                  <div class="action-icon"><ons-icon icon="picture-o"></ons-icon></div>
                  <div class="action-label">Add Photo</div>
                </ons-col>
                <ons-col class="action-col" ng-click="onPostUpdate()" ng-show="isUpdating===false">
                  <div class="action-icon"><ons-icon icon="ion-compose"></ons-icon></div>
                  <div class="action-label">Update</div>
                </ons-col>
                <ons-col class="action-col" ng-click="onUpdateDone()" ng-show="isUpdating">
                  <div class="action-icon"><ons-icon icon="fa-save"></ons-icon></div>
                  <div class="action-label">Save</div>
                </ons-col>
                <ons-col class="action-col" ng-click="onPostDelete()">
                  <div class="action-icon"><ons-icon icon="fa-trash-o"></ons-icon></div>
                  <div class="action-label">Delete</div>
                </ons-col>    
                <ons-col class="action-col" ng-click="onPostShare()">
                  <div class="action-icon"><ons-icon icon="ion-share"></ons-icon></div>
                  <div class="action-label">Share</div>
                </ons-col>
              </ons-row>
            </ons-list-item>
        </ons-list>
        <div class="container slider">
            <img ng-repeat="file in files" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{srcPath}}{{file.photo}}" />
            <a class="arrow prev" href="#" ng-click="showPrev()"></a>
            <a class="arrow next" href="#" ng-click="showNext()"></a>
        </div>
    </ons-page>
</ons-template>

<ons-template id="my_post_photo.html">
    <ons-page id="my_post_photo-page" ng-controller="MyPostPhotoController">
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">More photos</div>
        </ons-toolbar>
        <ons-list ng-show="canAdd">
            <ons-list-item style="line-height: 1; padding: 0;">
                <ons-row class="action">    
                <ons-col class="action-col" ngf-select ngf-multiple="true" ng-model="files">
                  <div class="action-icon"><ons-icon icon="picture-o"></ons-icon></div>
                  <div class="action-label">Add Photos</div>
                </ons-col>
                <ons-col class="action-col" ng-click="onUploadAll(files)">
                  <div class="action-icon"><ons-icon icon="fa-upload"></ons-icon></div>
                  <div class="action-label">Start upload</div>
                </ons-col>
                <ons-col class="action-col" ng-click="onDeleteAll()">
                  <div class="action-icon"><ons-icon icon="fa-trash-o"></ons-icon></div>
                  <div class="action-label">Delete all</div>
                </ons-col>
              </ons-row>
            </ons-list-item>
        </ons-list>
        <ons-list ng-show="files.length>0">
            <ons-list-item 
                class="item" ng-repeat="file in files">
                <ons-row>
                    <ons-col width="115px">
                        <img ngf-src="file" class="file-thum"></img>
                    </ons-col>
                    <ons-col>
                        <div class="file-title">
                            {{file.name}}
                        </div>
                        <div class="file-desc">
                            <ons-icon icon="fa-hdd-o" class="file-icon decor-color"></ons-icon>
                            <span ng-switch="file.size > 1024*1024">
                                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                                <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                            </span>
                        </div>
                        <div class="file-progress" ng-show="progressVisible">
                            <div class="percent">{{progressPercentage}}%</div>
                            <div class="progress-bar">
                                <div class="file-uploaded" ng-style="{'width': progressPercentage+'%'}"></div>
                            </div>
                        </div>
                        <div class="file-more">
                            <span style="color: green;" ng-click="onUpload(file)">
                                <ons-icon icon="fa-upload"></ons-icon>
                                <ons-button modifier="quiet">Upload</ons-button>
                                <span style="color: black; padding-right: 10px">|</span>
                            </span>
                            <span style="color: red;" ng-click="onDelete($index)">
                                <ons-icon icon="fa-trash-o"></ons-icon>
                                <ons-button modifier="quiet">Delete</ons-button>
                            </span>
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-template>

<ons-template id="my_post_photo_view.html">
    <ons-page id="my_post_photo_view-page" ng-controller="MyPostPhotoController">
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">More photos</div>
        </ons-toolbar>
        <ons-list ng-show="files.length>0">
            <ons-list-item 
                class="item" ng-repeat="file in files">
                <ons-row>
                    <ons-col width="115px">
                        <img ng-src="{{thumbPath}}{{file.photo}}" class="item-thum"></img>
                    </ons-col>
                    <ons-col>
                        <div class="file-title">
                            {{file.name}}
                        </div>
                        <div class="file-desc">
                            <ons-icon icon="fa-hdd-o" class="file-icon decor-color"></ons-icon>
                            <span ng-switch="file.size > 1024*1024">
                                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                                <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                            </span>
                        </div>
                        <div class="file-more">
                            <span style="color: blue;" ng-click="onView($index)">
                                <ons-icon icon="fa-eye"></ons-icon>
                                <ons-button modifier="quiet">View</ons-button>
                                <span style="color: black; padding-right: 10px">|</span>
                            </span>
                            <span style="color: red;" ng-click="onDelete($index)">
                                <ons-icon icon="fa-trash-o"></ons-icon>
                                <ons-button modifier="quiet">Delete</ons-button>
                            </span>
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-template>


<!-- Admin page -->
<ons-template id="admin.html">
    <ons-page id="admin-page" ng-controller="AdminController">
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">Administrator</div>
        </ons-toolbar>
        <ons-list modifier="inset" style="margin-top: 10px">
            <ons-list-item modifier="chevron" onclick="nav.profile.pushPage('user_admin.html', { animation: 'slide' });">
                View users { {{n_users}} }
            </ons-list-item>
            <ons-list-item modifier="chevron" onclick="nav.profile.pushPage('post_admin.html', { animation: 'slide' });">
                View posts { {{n_posts}} }
            </ons-list-item>
            <ons-list-item modifier="chevron" onclick="nav.profile.pushPage('tag_admin.html', { animation: 'slide' });">
                View tags
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-template>

<ons-template id="user_admin.html">
    <ons-page id="user_admin-page" ng-controller="UserAdminController">
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">Users</div>
            <div class="right">
                <ons-toolbar-button><span class="decor-color">{{n_users}}</span></ons-toolbar-button>
            </div>
        </ons-toolbar>
        <ons-list>
            <ons-list-item modifier="chevron" class="admin_user-item" ng-repeat="user in users">
                <ons-row>
                    <ons-col width="100px">
                        <img ng-src="{{thumbPath}}{{user.photo}}" class="admin_user-item-thum"></img>
                    </ons-col>
                    <ons-col>
                        <div class="admin_user-item-name">
                            {{ user.first_name }} {{ user.last_name }}
                        </div>
                        <div class="admin-user-item-element">
                            <ons-icon icon="fa-user" class="decor-color"></ons-icon> {{ user.user_id }}
                        </div>
                        <div class="admin-user-item-element">
                            <ons-icon icon="fa-envelope-square" class="decor-color"></ons-icon> {{ user.email }}
                        </div>
                        <div class="admin-user-item-element">
                            <ons-icon icon="fa-map-marker" style="color: red;"></ons-icon> {{ user.location }}
                        </div>
                        <div class="admin-user-item-active" ng-if="user.active==='on'">
                            <i class="fa fa-sun-o" style="color: green;"></i> {{ user.role }}
                        </div>
                        <div class="admin-user-item-active" ng-if="user.active!=='on'">
                            <i class="fa fa-power-off" style="color: red;"></i> <span class="admin-user-item-role">{{ user.role }}</span>
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-template>

<ons-template id="post_admin.html">
    <ons-page id="post_admin-page" ng-controller="PostAdminController">
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">Posts</div>
            <div class="right">
                <ons-toolbar-button><span class="decor-color">{{n_posts}}</span></ons-toolbar-button>
            </div>
        </ons-toolbar>
        <ons-list>
            <ons-list-item 
                modifier="tappable" class="item" ng-repeat="item in posts">
                <ons-row>
                    <ons-col width="98px">
                        <img ng-src="{{thumbPath}}{{item.photo}}" class="item-thum"></img>
                    </ons-col>
                    <ons-col>
                        <div class="item-title">
                            {{ item.post | cut : true : 200 : ' ...' }}
                        </div>
                        <div ng-show="item.desc==''"><p><span style='opacity: 0.7;'><i class="fa fa-spinner fa-spin fa-pulse"></i> Loading item...</p></span></div>
                        <div class="item-desc">
                            {{ item.description | cut : true : 200 : ' ...' }}
                        </div>
                        <div class="item-more">
                            <ons-icon icon="fa-user" class="item-icon decor-color"></ons-icon> {{ item.user_id }} <span style="color: black;"> | </span> 
                            <ons-icon icon="fa-money" class="item-icon alert-color"></ons-icon> <span class="alert-color">{{ item.price }} $</span>
                        </div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-template>

<ons-template id="tag_admin.html">
    <ons-page id="tag_admin-page" ng-controller="TagAdminController">
        <ons-toolbar>
            <div class="left"><ons-back-button>Back</ons-back-button></div>
            <div class="center">Tags</div>
        </ons-toolbar>
        <ons-list>
            <ons-list-item 
                modifier="chevron" class="item" ng-repeat="item in tags">
                <ons-row>
                    <ons-col width="98px">
                        <img ng-src="http://lorempixel.com/60/60/" class="item-thum"></img>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title">{{ item.tag }}</span>
                        </header>
                        <p class="item-desc">{{ item.description }}</p>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-template>

<ons-template id="location_admin.html">
    <ons-page id="location_admin-page" ng-controller="LocationAdminController">
        <ons-list>
            <ons-list-item 
                modifier="chevron" class="item" ons-lazy-repeat="allLocations">
                <ons-row>
                    <ons-col width="90px">
                        <img ng-src="http://lorempixel.com/60/60/" class="item-thum"></img>
                    </ons-col>
                    <ons-col>
                        <header>
                            <span class="item-title">{{ item.user_id }}</span>
                        </header>
                        <div ng-show="item.desc==''"><p><span style='opacity: 0.7;'><ons-icon icon='fa-spinner' spin='true'></ons-icon> Loading item...</p></span></div>
                        <p class="item-desc">{{ item.first_name }}</p>
                    </ons-col>
                    <ons-col width="40px">
                        <header>
                            <span class="item-user">{{ item.location }}</span>
                        </header>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-template>

<ons-template id="support.html">
    <ons-page id="support-page">
        <ons-toolbar>
            <div class="center">New Request</div>
        </ons-toolbar>
    
        <ons-list modifier="inset" style="margin-top: 10px">
            <ons-list-item class="to-wrapper">
                <ons-row>
                    <ons-col width="52px">
                        <img src="images/profile-image-02.png" width="42" class="to-image">
                    </ons-col>
                    <ons-col>
                        <div class="to-name">Graham</div>
                        <div class="to-email">@graham</div>
                    </ons-col>
                </ons-row>
            </ons-list-item>
            <ons-list-item>
                <input type="text" class="text-input text-input--transparent" placeholder="Name" style="width: 100%">
            </ons-list-item>
    
            <ons-list-item>
                <textarea class="textarea textarea--transparent" placeholder="Message" style="width: 100%; height: 100px;"></textarea>
            </ons-list-item>
    
            <ons-list-item modifier="chevron">
                <ons-icon icon="fa-tag" style="opacity:0.2"></ons-icon>
            </ons-list-item>
        </ons-list>
    
        <div style="padding: 10px 9px">
            <ons-button modifier="large" style="margin: 0 auto;">
                Send
            </ons-button>
        </div>            
    </ons-page>
</ons-template>
